header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(129, 13, 13);
}

/* header .logo{
    flex: 1;
} */
header p:hover {
  background: rgb(161, 19, 238);
  background: linear-gradient(
    0deg,
    rgb(125, 237, 14) 0%,
    rgb(174, 196, 219) 100%
  );
}
header span {
  text-transform: uppercase;
  color: rgb(2, 1, 10);
}
header button {
  text-transform: uppercase;
  color: rgb(241, 12, 12);
}
header button:hover {
  background: rgb(161, 19, 238);
  background: linear-gradient(
    0deg,
    rgb(125, 237, 14) 0%,
    rgb(174, 196, 219) 100%
  );
}

.logoutButton {
    border: solid 4px white;
    width: 100px;
    text-align: center;
    padding: 1px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(5, 0, 0);

    
  }
.loginButton {
  color: blue;
  box-shadow: 2px 1px;
  font-size: medium;
}
.loginButton:hover {
  background: rgb(161, 19, 238);
  background: linear-gradient(
    0deg,
    rgb(125, 237, 14) 0%,
    rgb(174, 196, 219) 100%
  );
}

header ul li {
  display: inline-block;
  opacity: 0.7;
  padding: 0 30px;
}
header ul li:hover {
  opacity: 2;
  background: rgb(161, 19, 238);
  background: linear-gradient(
    0deg,
    rgb(125, 237, 14) 0%,
    rgb(174, 196, 219) 100%
  );
}
.menu {
  display: none;
}

.cart-icon {
  position: relative;
  margin-right: 30px;
}

.cart-icon span {
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 3px 6px;
  font-size: 11px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.topLogo {
  font-family: fantasy;
  font-size: 3rem;
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39, 22, 22);
  text-align: center;
  width: 100%;
  border: solid white 1.5px;
  background-color: rgb(250, 252, 251);
  border-radius: 20px;
  height: 50px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.phong-logo {
  filter: drop-shadow(0 0 1rem rgb(185, 200, 230));
  margin-top: 13px;
  cursor: pointer;
  border-radius: 60px;
  border: solid rgb(15, 16, 15) 1px;
  width: 120px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.phong-logo:hover {
  filter: drop-shadow(0 0 1rem rgb(37, 100, 227));
  -webkit-filter: drop-shadow(0 0 1rem rgb(37, 100, 227));
}
