.load-page{
    background: #fff;
    overflow: hidden;
}
.loader{
    width: 300px;
    height: 300px;
    margin: auto;
}
.loader div{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border: 1px solid rgb(243, 64, 64);
    border-top: 1px solid rgb(132, 13, 206);
    border-radius: 60%;
    animation: rotate 10s linear infinite alternate-reverse;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}
@keyframes rotate{
    50%{
        transform: rotate(80deg);
    }
    100%{
        transform: rotate(360deg);
    }
}