/* body {
  text-align: center;
  
} */
.carousel{
  text-align: center;
}

.carousel.carousel-slider {
  margin: 0px auto;
  overflow: visible;
}

.carousel .slide {
  border-radius: 10px;
  background: linear-gradient(to right, hsl(225, 5%, 83%), #ebe0d7);
  background: linear-gradient(to bottom, #c3ebe1 0%, #eaecee 100%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
}

.carousel .slide-holder {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 100%;
  object-fit: cover;

}
.carousel .slide img {
  border-radius:15px;
  margin: 15px;
  width: 100%;
  height: 150px;
  background: linear-gradient(to right, hsl(60, 58%, 81%), #f4f3f5);
  background: linear-gradient(to bottom, #f0eaec 0%, #ec8181 100%);
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  -ms-border-radius:15px;
  -o-border-radius:15px;
}
.carousel .slide iframe {
  margin: 30px;
  width: 35%;
}
.carousel .text-container {
  padding: 30px;
  text-align: left;
}

.carousel .text-container h2 {
  margin-top: 0px;
}

.carousel .text-container p:last-child {
  margin-bottom: 0px;
}

.carousel .control-dots {
  bottom: -40px;
}

.carousel .thumbs-wrapper {
  margin: 30px;
}
.carousel img {
  border-radius:15px;
  width: 25px;
  height: 25px;
  object-fit: contain;
}
