body {
  text-align: center;
  
}

.carousel.carousel-slider {
  margin: 0px auto;
  overflow: visible;
}

.carousel .slide {
  color: rgb(20, 18, 18);
  background: linear-gradient(to right, hsl(225, 5%, 83%), #ebe0d7);
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}

.carousel .slide-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.carousel .slide img {
  margin: 30px;
  width: 35%;
  height: 200px;
  object-fit: contain;
  background: linear-gradient(to right, hsl(25, 70%, 76%), #de12e9);
  background: linear-gradient(to bottom, #e487aa 0%, #e87649 100%);
}
.carousel .slide iframe {
  margin: 30px;
  width: 35%;
}
.carousel .text-container {
  padding: 30px;
  text-align: left;
}

.carousel .text-container h2 {
  margin-top: 0px;
}

.carousel .text-container p:last-child {
  margin-bottom: 0px;
}

.carousel .control-dots {
  bottom: -40px;
}

.carousel .thumbs-wrapper {
  margin: 30px;
}
.carousel img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
