* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  color: var(--textColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 0 35px #eee;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* -----------------Import CSS Style -------------------*/

/* ---------------- Header ------------ */
@import url("./components/Headers/header.module.css");

/* ------------- Products -------------- */
@import url("./components/MainPages/products/products.module.css");

/* ---------------- Detail Product --------------- */
@import url("./components/MainPages/detailProduct/detailProduct.module.css");

/* ------------- Login/Register ----------------- */
@import url("./components/MainPages/auth/LoginForm/login.module.css");

/* ------------- Footer ----------------- */
@import url("./components/Footer/footer.module.css");

/* ------------- Carousel ----------------- */
@import url("./components/ProductCarousel/productCarousel.module.css");

/* ------------- AuthPage ----------------- */
@import url("./pages/AuthPage/AuthPage.module.css");

/* ------------- Loading ----------------- */
@import url("./components/MainPages//utilities/loading/loading.module.css");

/* ------------- Logo ----------------- */
/* @import url("./components/Logo//Logo.module.css");
 */
/* ------------- About us ----------------- */
@import url("./components/MainPages/AboutUs/aboutUs.module.css");

/* ------------- Cart ----------------- */
@import url("./components/MainPages/cart/cart.module.css");

/* ------------- Order History ----------------- */
@import url("./components/MainPages/history/history.module.css");

/* ------------- Categories ----------------- */
@import url("./components/MainPages/categories/category.module.css");

/* ------------- Create Products ----------------- */
@import url("./components/MainPages/createProduct/createProduct.module.css");

/* ------------- Detail Products ----------------- */
@import url("./components/MainPages/detailProduct/detailProduct.module.css");

/* ------------- AuthPage----------------- */
@import url("./pages/AuthPage/AuthPage.module.css");
